<div class="back">
    <nav class="navbar">
        <div class="navbar-buttons">
          <a href="http://localhost:4200/Home"><img width="30px"  src="./assets/flight.svg" alt="" /></a>
          <span></span>
          <button class="navbar-button">Holidays</button>
          <button class="navbar-button">Customer Service</button>
          <button class="navbar-button"><a href="http://localhost:4200/About">About</a></button>
        </div>
      
        <div class="navbar-login">
          <button><a href="http://localhost:4200/Adminlogin">Login (Admin)</a></button>
          <button>Login (User)</button>
        </div>
      </nav>
      
</div>