<div class="back">
    <nav class="navbar">
        <div class="navbar-buttons">
          <a routerLink="Home"><img width="30px"  src="./assets/flight.svg" alt="" /></a>
          <span></span>
          <button class="navbar-button"><a routerLink="Holidays">Holidays</a></button>
          <button class="navbar-button"><a routerLink ="Customerservice">Customer Service</a></button>
          <button class="navbar-button"><a routerLink="About">About</a></button>
        </div>
      
        <div class="navbar-login">
          <button><a routerLink="Adminlogin">Login(Admin)</a></button>
          <button  >Login (User)</button>
        </div>
      </nav>  
</div>